<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckh01.user.shooting">


    <!--
        액티비티의 NoTitleBar : 타이들바 없애기, Fullscreen : 상단 상태바 없애기
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        AppCompatActivity를 상속받지 못하고 Activity를 상속받아야 한다.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <!--
            screenOrientation
              - portrait : 화면 세로 고정
              - sensorPortrait : 센서에 반응하는 세로 고정
              - landscape : 가로 고정
              - sensorLandscape : 센서에 반응하는 가로 고정
        -->
        <activity android:name=".BackScrollActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>